/* Changeing Mouse Cursor */
/* Adding Font  */
@font-face {
    font-family: 'roboto';
    src: url(../src/fonts/roboto/Roboto-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Dabora';
    src: url(../src/fonts/Dabora/Dabora.ttf) format(truetype);
}

@font-face {
    font-family: 'Poppins';
    src: url(../src/fonts/Poppins/Poppins-Light.ttf) format(truetype);
}

/* Adding Font  */
body {
    box-sizing: border-box;
    background: url(../src/image/background.png);
    /* background-color: red; */
    scroll-behavior: smooth;
}