/* CSS Variables */
:root {
    /* START font family variables. */
    --main-font: 'roboto', sans-serif;
    --head-font: 'Dabora', sans-serif;
    --paragraph-font: 'Poppins', sans-serif;
    /* END font family variables. */
    --primary-color: #00a6fb;
    --secondary-color: #00509d;
    --border-color: #000814;
    --gradient-color: linear-gradient(90deg, rgba(1, 162, 245, 1) 0%, rgba(0, 58, 113, 1) 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

}

/* CSS Variables */