body {
  background-image: url(Website/src/BG2.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding-top: 50px;
  margin: 0;
}

*::selection {
  background-color: aqua;
  color: black;
}

#Main-content {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

#Headtext {
  text-transform: uppercase;
}

#header p {
  display: inline-block;
  padding-right: 150px;
  text-decoration: none;
  color: white;
}

#section {
  text-align: center;
}

#header p:hover {
  color: red;
  transition: all 0.5s ease;
}

#header p:active {
  color: yellow;
}

#header {
  background: linear-gradient(132deg, rgb(65, 80, 95) 0%, rgb(36, 37, 38) 100%);
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 5px;
  top: 0;
}

#login {
  color: rgb(0, 0, 0);
  font-size: larger;
  text-decoration: none;
  border: 2px solid black;
  padding: 10px;
  background-color: white;
}

#post1 img {
  width: 300px;
  margin-left: 17px;
}

#post1 {
  width: 350px;
  border: 2px solid black;
  box-sizing: border-box;
  margin-left: 17px;
  background: linear-gradient(132deg,
      rgb(113, 143, 175) 0%,
      rgb(69, 92, 114) 100%);
}

#post1 h2 {
  margin-left: 70px;
}

a {
  text-decoration: none;
  color: white;
}