div {
    width: 200px;
    height: 200px;
    background: linear-gradient(132deg, rgb(251, 251, 255) 0.00%, rgb(215, 223, 252) 100.00%);
}

*::selection{
    background-color: aqua;
    color: black;
}
h1{
    background: linear-gradient(132deg, rgb(255, 0, 0) 0.00%, rgb(255, 213, 0) 100.00%);
    width: 250px;
}